.ml{margin-left: 10%;
width: 80%;}


.btn-cont {
    letter-spacing: 2px;
    border: none;
    width: 133px;
    height: 47px;
    margin-right: 19px;
    border-radius: 23.5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: gray;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Montserrat-SemiBold";
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
}